{% extends 'base.html' %}
{% load static %}
{% block title %} Вход {% endblock %}


{% block content %}

    <h4>Статистика пользователя</h4>
{% if user_statistics %}
    <p>Количество успешных анализов изображений: {{ user_statistics.successful_image_analyses }}</p>
    <p>Количество успешных анализов текста: {{ user_statistics.successful_text_analyses }}</p>
{% else %}
    <p>Статистика недоступна.</p>
{% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'home:logout' %}" class="logout-button">Выход</a>
    {% endif %}

{% endblock %}





