{% extends 'base.html' %}
{% load static %}
{% block title %} Анализ счета {% endblock %}

{% block content %}

    

    <h1>Добро пожаловать на портал Инструментов с ИИ</h1>
    <p>Наши инструменты на базе искусственного интеллекта помогут вам автоматизировать сложные процессы и сделать вашу работу эффективнее. Мы предлагаем следующие решения:</p>
    <ul>
        <li><strong>Автоматизированный анализ документов</strong> — загружайте счета, договора и другие документы, а наши алгоритмы быстро извлекут необходимую информацию, значительно сокращая ваше время на рутинные задачи.</li>
        <li><strong>Составление опросных листов на приборы</strong> — формируйте опросные листы для сбора технических характеристик и требований к оборудованию, чтобы сделать процесс коммуникации с поставщиками проще и быстрее.</li>
    </ul>
    <p>Искусственный интеллект — это не только будущее, но и настоящее. Мы верим, что наши инструменты смогут упростить вашу работу, повысить производительность и оставить больше времени для действительно важных задач. Исследуйте возможности наших приложений и ощутите, как технологии помогают решать повседневные задачи.</p>
    
 

      

{% endblock %}





