{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} </title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
</head>
<body>
    <div id="background">
        <canvas id="animatedCanvas"></canvas>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">

        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand text-white" href="{% url 'home:main' %}">Инструменты с ИИ</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="toolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Инструменты
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="toolsDropdown">
                            <li><a class="dropdown-item" href="{% url 'mistral:main' %}">Генератор ОЛ</a></li>
                            <li><a class="dropdown-item" href="{% url 'pixtral:main' %}">Анализ счета</a></li>
                        
                    
                </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#" data-bs-toggle="modal" data-bs-target="#aboutModal">О проекте</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#" data-bs-toggle="modal" data-bs-target="#helpModal">Помощь</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'home:user_dashboard' %}">Кабинет</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" id="theme-toggle" href="#" aria-label="Toggle theme">
                            <i class="bi bi-moon-fill"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="content" class="container" style="overflow-y: auto; height: calc(100vh - 150px);">
        <div class="card">
            <div class="card-body">
               {% block content %}

               {% endblock %}
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Инструменты ИИ. Раиль Рафиков. Все права защищены.</p>
    
    <!-- Модальные окна -->
    <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="aboutModalLabel">О проекте</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark-mode">
                    <h2><strong>О проекте</strong></h2>
                    <p>Генератор опросных листов — это веб-приложение, созданное для упрощения процесса сбора технических характеристик и требований для различных проектов и устройств. Оно помогает формировать опросные листы, где можно вставить нужные параметры или отметить галочки в чекбоксах, что упрощает процесс заказа и коммуникации с поставщиками. Приложение разработано с использованием современных технологий, таких как Django и Bootstrap, что делает его удобным и доступным для пользователей.</p>

                    <h2><strong>Анализ счета</strong></h2>
                    <p>Приложение "Анализ счета" предназначено для анализа счетов. Оно принимает изображения в форматах jpg или png и автоматически извлекает информацию о позициях в счете и реквизитах, что делает процесс обработки счетов более быстрым и эффективным. "Pixtral" помогает сэкономить время и снизить вероятность ошибок при обработке финансовой документации.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="helpModalLabel">Помощь</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Если вам нужна помощь в использовании Генератора опросных листов, вы можете следовать этим шагам:</p>
                    <p>Введите ваш запрос или описание устройства в текстовое поле на главной странице.</p>
                    <p>Нажмите кнопку "Отправить", чтобы получить сгенерированный опросный лист с необходимыми параметрами.</p>
                    <p>Если необходимо, вы можете скачать полученные данные в формате Word, нажав на кнопку "Скачать файл Word".</p>
                    <p>Если у вас возникли трудности, обратитесь к разделу "О проекте" или свяжитесь с разработчиками через контактную информацию, указанную внизу страницы.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
      <script src="{% static 'js/script.js' %}"></script>
      
</body>
</html>
